@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

button {
  display: block;
  width: 98%;
  padding: 20px;
  margin: 10px auto;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  word-spacing: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

button:hover,
button:disabled {
  background-color: #777;
}

.remove {
  background-color: rgb(185, 0, 0);
  transition: background-color 0.3s;
}

.remove:hover {
  background-color: rgb(120, 0, 0);
}

#app {
  display: flex;
}

.meadow {
  width: 70%;
  background-color: greenyellow;
  min-height: 100vh;
  position: relative;
}

.bunny {
  width: 70px;
  height: 70px;
  background: url(../images/bunny.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 45%;
  left: 45%;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
  transition: 1s;
}

.move {
  animation: bunnyScale 3s infinite;
}

@keyframes bunnyScale {
  10% {
    transform: scale(1.1) rotate(4deg);
  }
  32% {
    transform: scale(1.2) rotate(-1deg);
  }
  67% {
    transform: scale(1.4) rotate(2deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.sidebar {
  width: 30%;
}

.coordinates {
  display: flex;
  justify-content: center;
}

.coordinates__x,
.coordinates__y {
  margin: 5px;
  padding: 20px 30px;
  width: 50%;
  background: #555;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.hunters {
  /* border: 1px solid #aaa; */
}

.hunters__item {
  margin: 25px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hunters__item:nth-child(1) {
  background-image: url(../images/1.jpg);
  height: 100px;
}

.hunters__item:nth-child(3) {
  background-image: url(../images/2.png);
  height: 150px;
  margin-bottom: 10px;
}

.hunters__item:nth-child(5) {
  background-image: url(../images/3.jpg);
  height: 180px;
}

.hunters__item:nth-child(4) {
  background-image: url(../images/4.png);
  height: 190px;
}

.hide {
  display: none;
}

.bunny.dead {
  background-image: url(../images/blood1.png);
  filter: drop-shadow(2px 2px 10px rgba(255, 0, 0, 0.4));
  animation: dead 1.5s forwards;
}

@keyframes dead {
  from {
    opacity: 1;
  }
  to {
    transform: scale(3.5);
    opacity: 0;
  }
}

.aim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-image: url(../images/aim1.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 1s;
  animation: aim 4s infinite;
}

@keyframes aim {
  30% {
    transform: translate(-7px, -5px);
  }
  50% {
    transform: translate(-20px, -15px);
  }
  70% {
    transform: translate(5px, 25px);
  }
}

.transparent {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 70px 150px;
  text-align: center;
  font-size: 30px;
  color: red;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.modal.show {
  animation: showModal 1s 1s forwards;
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1.1);
  }
}
